.videoAdd {
    position: relative;
    width: 640px;
    height: 480px;
}


table.table-new { text-align: center; }

table.table-new {
    border-collapse: collapse;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}

    table.table-new th {
        padding: 1.5rem;
        font-size: 1.7rem;
        border: 1px solid #cccccc;
    }

    table.table-new td {
        padding: 1.5rem;
        font-size: 1.3rem;
        border: 1px solid #cccccc;
    }

    /*
    table.table-new tr {
        background: hsl(149, 100%, 90%);
    }
*/
    /*table.table-new tr, td {
        transition: .4s ease-in;
    }*/

/*        table.table-new tr:first-child {
            background: hsl(149, 100%, 90%);
        }

        table.table-new tr:nth-child(even) {
            background: hsl(149, 100%, 90%);
        }

    table.table-new td:empty {
        background: hsla(149, 100%, 90%, 0.5);
    }

    table.table-new tr:hover:not(#firstrow), tr:hover td:empty {
        background: #ff0;
        pointer-events: visible;
    }
    table.table-new tr:hover:not(#firstrow) {
        transform: scale(1.2);
        font-weight: 700;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
    }*/


